# Crawley::Core::Extensions::Loop.add_dictionary(:proxy_list, File.expand_path(File.dirname(__FILE__))+'/proxies.xml', :xml)

# Crawley::Helpers::ProxyRotator.configure do
#   clean
#   set_mode :round_robin

#   loop :proxy_list do |ua|
#     add ua['name'], tags: ua['tags'].split(',').map(&:strip)
#   end
# end