require File.expand_path('../boot', __FILE__)

# Require the gems listed in Gemfile, including any gems
# you've limited to :test, :development, or :production.
Bundler.require(:default)

Crawley.configure do |config|
  config.fetcher = :typhoeus_fetcher
  config.queue_driver = :<%= options[:queue] %>
end