require File.expand_path('../boot', __FILE__)

Bundler.require(:default)

Crawley.configure do |config|
  config.fetcher_driver = :typhoeus_fetcher
  config.fetcher_options = {}
  config.queue_driver = :<%= options[:queue] %>
  config.queue_options = {}
end