Scruber.run do
  get "http://..."
  
  parse :html do |page, doc|
    # page - queue page object
    # doc - processed object, in this case Nokogiri::HTML(page.response_body) object
    puts doc.at('title').text
  end
end